# Ignore structural folders.
config/
inputs/
outputs/
assets/
reference/
annotation/
tmp/

# Ignore other minor folders.
packs/
MELTv2.1.4/
bowtie2-2.3.4.1/

# Ignore some files.
*.log
*.swp
*.yml

timestamp*
